@import '../../styles';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "calibri";

  &-body {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fefefe;
    padding: 5px 10px;
    width: 80%;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    margin: 0;
  }

  &-info {
    text-align: justify;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  &-close {
    background: transparent;
    border: none;
    cursor: pointer;
    color: lighten(black, 50);
    font-size: 24px;

    &:hover {
      color: black;
    }
  }
}
